* {
    font-family: monospace;
    margin: 0;
}

html {
    align-items: center;
    text-decoration: none;
    width: 100vw;
}

.menu ul {
    padding: 10px 0 10px 0;
    margin: -10px 0 10px -10px;
    text-align: center;
    background: #202127;
}

.menu ul li a {
    padding: 10px 20px 10px 20px;
    color:  #EDEDED;
    text-decoration: none;
    background-color: #202127;  
}

.menu ul li { display: inline-flex; }

.menu ul li a:hover {
    color: #6D6D6D; 
}

.Cartao {
    border: 3px solid ;
    overflow: hidden;
    margin: 3px 3px 5px 30px;
    display: flex;
    flex-direction: column;
    max-width: 260px;
    min-width: 260px;
    text-align: center;
}

.Cartao .Titulo {
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 1px;
    font-size: 14px;
}

.Cartao .Conteudo {
    flex-grow: 1;
    background-color: rgb(255, 254, 253);
    color: black;
    font-size: 10px;
}

.texto {
    text-align: center;
    font-size: 12px;
    margin: 8px;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.formulario > .off-1 {
    margin-left: 0%;
    margin-right: 0%;
}

.formulario > .col-2 {
    width: 100%;
}


.formulario > * {
    box-sizing: border-box;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    display: inline-block;
    background: #d96760;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-decoration: none;
    border-radius: 0.35em;
    margin: 2px 2px 0 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0 0 1em 0;
    min-width: 10em;
    height: 3em;
    line-height: 3em;
    list-style: none;
    font-size: 12px;
}


input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
    background-color: #df3030;
}

input[type="button"].large,
input[type="submit"].large,
input[type="reset"].large,
button.large,
.button.large {
    font-size: 0.4em;
    min-width: 9em;
}

input[type="button"].style1,
input[type="submit"].style1,
input[type="reset"].style1,
button.style1,
.button.style1 {
    background: #d96760;
    color: #fff;
}

    input[type="button"].style1:hover,
    input[type="submit"].style1:hover,
    input[type="reset"].style1:hover,
    button.style1:hover,
    .button.style1:hover {
        background-color: #df3030;
    }

    input[type="button"].style1:active,
    input[type="submit"].style1:active,
    input[type="reset"].style1:active,
    button.style1:active,
    .button.style1:active {
        background-color: #e43131;
    }

input[type="button"].style2,
input[type="submit"].style2,
input[type="reset"].style2,
button.style2,
.button.style2 {
    background: #606167;
    color: #fff;
    box-shadow: inset 0px 0px 0px 0px #a0a1a7;
}

    input[type="button"].style2:hover,
    input[type="submit"].style2:hover,
    input[type="reset"].style2:hover,
    button.style2:hover,
    .button.style2:hover {
        box-shadow: inset 0px 0px 2px 0px #606167;
        background-color: #1d1d1f;
    }

    input[type="button"].style2:active,
    input[type="submit"].style2:active,
    input[type="reset"].style2:active,
    button.style2:active,
    .button.style2:active {
        box-shadow: inset 0px 0px 2px 0px #202127;
    }

/* acoes*/
	ul.acoes {
		list-style: none;
		padding-left: 0;
		margin: 2em 0 0 0;
	}
        ul.acoes li:first-child {
            margin-left: 0;
        }

            ul.acoes li:last-child {
                margin-right: 0;
            }

		ul.acoes.special {
			text-align: center;
		}

.voo {
    background-color: #a0a1a7;
    padding: 4px;
    margin-top: 4px;
    align-items: center;
    text-align: center;
}

.footer1 {
	background: #202127;
    width: 100%;
    margin-top: 15px;
    padding-top: 15px;
	text-decoration: none;
    text-align: center;
    padding-bottom: 30px;
    float: left;
}

.footer2 {
	background: #202127;
    width: 100%;
	text-decoration: none;
    padding-bottom: 30px;
    float: left;
}

.footer {
    padding: 1em 4em 0 3em;
}

	.footer h1, .footer h2, .footer h3, .footer strong, .footer b{
		transition: 0.2s;
        font-size: 13px;
        color: #6d6d6d;
        line-height: 20px;
        border-left: 2px solid white;
        padding-left: 12px;
        text-transform: uppercase;

	}

    .footer p {
        font-family: monospace;
        font-size: 12px;
        line-height: 18px;
        border-left: 2px solid white;
        padding-left: 12px;
        padding-top: 2px;
    }
	
	a:link, a:visited, a .social {
        color: #fff;
		text-decoration: none
		}

	a:hover {
		color: rgb(95, 90, 90);
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
        padding-bottom: 3px;
	}

    img:hover {
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
        opacity: 10%;
		transition: all .25s ease-in-out;
        fill: #6D6D6D;
	}

    .menu #img_insta:hover {
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
        opacity: 10%;
		transition: all .25s ease-in-out;
        fill: #6D6D6D;
	}

	a:active {
		text-decoration: none
		}

		.footer .feature-list section {
			border-top-color: rgba(255, 255, 255, 0.05);
		}

		.footer .feature-list h3:before {
			background: #3d4249;
		}

        .footer img {
            height: 30px;
            width: 30px;
            padding: 16px 16px 0 16px;
            align-items: center;
            text-align: center;
        }

#alerta {
    color: #df4444;
    font-weight: 600;
}

.menu img {
    height: 20px;
    width: 20px;
    align-items: center;
    text-align: center;
}

.menu #img_insta {
    height: 20px;
    width: 20px;
    padding: 0 0 0 370px;
    align-items: center;
    text-align: center;
}

.menu #inicio {
    padding-left: 450px;
}